
// @keyframes example {
//     0%   {border-left: 2px solid #ffffff;}
//     25%  {border-left: 3px solid #ffe6e6;}
//     50%  {border-left: 4px solid #ff8080;}
//     100% {border-left: 5px solid #ff0000;}
// }

html {
    scroll-behavior: smooth;
}

.main-content {
    background-image: url("images/unsplash-main.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .navbar-item {
        &:hover {
            background-color: inherit;
            text-decoration: none;
            font-size: 1.3em;
            font-family: 'Permanent Marker', cursive;
        }
    }
}

.subtitle {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main-hero {
    z-index: 9999;
    margin-left: 20px;
    margin-right: 20px;
}

.title-hero {
    font-family: 'Permanent Marker', cursive;
}

.main {
    background-color: cadetblue;
}

.about-me {
    color: black;
    padding: 140px;
    font-family: 'Righteous', cursive;
    font-size: 1.3em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.title-about-me {
    font-family: 'Righteous', cursive;
}

p {
    font-size: 1.3em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.about-me-img {
    border-radius: 8px;
    box-shadow: 5px 5px 13px black;
}

.skills {
    color: black;
    padding: 140px;

    .title-skills {
        font-family: 'Sigmar One', cursive;
    }

    ._icon {
        color: black;
    }

    .title-icon {
        font-size: 1.3em;
        font-family: 'Sigmar One', cursive;
    }
}

.projects {
    color: black;
    padding: 140px;

    .title-projects {
        font-family: 'Righteous', cursive;
    }
        .card{
            background-color: transparent;
            box-shadow: none;
            transition: all 0.3s cubic-bezier(.25,.8,.25,1);
            
                &:hover{
                    border-radius: 5px;
                    animation-name: example;
                    animation-duration: 0.20s;
                    border-left: 8px solid black;
                    border-bottom: 8px solid black;
                    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
            }
    }
    
}

.contact {
    color: black;
    padding: 140px;
}