
    @import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Bangers&family=Cinzel+Decorative:wght@400;700;900&family=Major+Mono+Display&family=Merienda:wght@400;700&family=Permanent+Marker&family=Righteous&family=Lalezar&family=Sigmar+One&family=Kalam:wght@700&family=Merienda:wght@400;700&family=Kaushan+Script&family=Julee&family=Open+Sans&display=swap");


html {
    scroll-behavior: smooth;
}

.main-content {
    background-image: url("./images/unsplash-main.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .navbar-item{
        font-family: 'Open Sans', sans-serif;
        &:hover {
            background-color: inherit;
            // text-decoration: none;
            font-size: 1.3em;
            transition: 0.1s;
            font-family: 'Kaushan Script', cursive;
            font-weight: 600;
        }
    }

    .navbar-link .is-active{
        background-color: transparent;
    }
}


.subtitle {
    // color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.7em;
}



.title-hero {
    // color: white;
    font-family: 'Kaushan Script', cursive;
    font-size: 4em;
    
}

.main {
    background-color: cadetblue;
}

.modal-content{
    background-color: white;
    border-radius: 10px;
}

.about-me {
    color: black;
    // font-family: 'Righteous', cursive;
    font-size: 1.3em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.title-about-me {
    font-family: 'Kaushan Script', cursive;
}

.sub-goals{
    font-family: 'Kaushan Script', cursive;
}

p {
    font-size: 1.3em;
    font-family: 'Open Sans', sans-serif;
}

.about-me-img {
    border-radius: 8px;
    box-shadow: 5px 5px 13px black;
}

.projects {
    color: black;

    .title-projects {
        font-family: 'Kaushan Script', cursive;
    }
        .card{
            border-radius: 5px;
            background-color: transparent;
            box-shadow: none;
            transition: all 0.3s cubic-bezier(.25,.8,.25,1);
            
                &:hover{
                    border-radius: 5px;
                    animation-name: example;
                    animation-duration: 0.20s;
                    border-left: 8px solid black;
                    border-bottom: 8px solid black;
                    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
            }
    }
    
}

.footer {
    color: black;
    .icon{
    margin: 10px;
    }
}