
    @import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Bangers&family=Cinzel+Decorative:wght@400;700;900&family=Major+Mono+Display&family=Merienda:wght@400;700&family=Permanent+Marker&family=Righteous&family=Lalezar&family=Sigmar+One&family=Kalam:wght@700&family=Merienda:wght@400;700&family=Kaushan+Script&family=Julee&family=Open+Sans&display=swap");


html {
    scroll-behavior: smooth;
}

.main-content {
    background-image: url("./images/unsplash-main.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .navbar-item{
        font-family: 'Open Sans', sans-serif;
        &:hover {
            background-color: inherit;
            // text-decoration: none;
            font-size: 1.3em;
            transition: 0.1s;
            font-family: 'Kaushan Script', cursive;
            font-weight: 600;
        }
    }

    .navbar-link .is-active{
        background-color: transparent;
    }
}


.subtitle {
    // color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.7em;
}



.title-hero {
    // color: white;
    font-family: 'Kaushan Script', cursive;
    font-size: 4em;
    
}

.main {
    background: linear-gradient(176deg, rgba(249,249,249,1) 1%, rgba(0,130,157,1) 55%, rgba(0,130,157,1) 100%);
}

.modal-content{
    background-color: white;
    border-radius: 10px;
}

.about-me {
    color: black;
    // font-family: 'Righteous', cursive;
    font-size: 1.3em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.title-about-me {
    font-family: 'Kaushan Script', cursive;
}

.sub-goals{
    font-family: 'Kaushan Script', cursive;
}

p {
    font-size: 1.3em;
    font-family: 'Open Sans', sans-serif;
}

.about-me-img {
    border-radius: 8px;
    box-shadow: 5px 5px 13px black;
}

.projects {
    color: black;

    .title-projects {
        font-family: 'Kaushan Script', cursive;
    }
        .card{
            border-radius: 5px;
            background-color: transparent;
            box-shadow: none;
            // transition: all 0.3s cubic-bezier(.25,.8,.25,1);
            img{
                border-radius: 10px;
            }
            .projectTwo{
                &:hover{
                filter: blur(3px);
                }
            }

    }
    .hvr-float-shadow {
        display: inline-block;
        vertical-align: middle;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 2px rgba(0, 0, 0, 0);
        position: relative;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-property: transform;
        transition-property: transform;
        &:before {
            pointer-events: none;
            position: absolute;
            z-index: -1;
            content: '';
            top: 100%;
            left: 5%;
            height: 10px;
            width: 90%;
            opacity: 0;
            background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
            background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
            /* W3C */
            -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
            -webkit-transition-property: transform, opacity;
            transition-property: transform, opacity;
        }
        &:hover, &:focus, &:active {
            -webkit-transform: translateY(-7px);
            transform: translateY(-7px);
            /* move the element up by 5px */
        }
        &:hover:before, &:focus:before, &:active:before {
            opacity: 1;
            -webkit-transform: translateY(7px);
            transform: translateY(7px);
            /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
        }
        }
    
}

.footer {
    color: black;
    .icon{
    margin: 10px;
    }
}